*.log
yarn-debug.log*
yarn-error.log*

# No mac stuff
.DS_Store

# No vscode/intelliJ stuff
.vscode
.idea/
.history

# No bundled stuff in git
dist

# Dependency directories
node_modules

# dotenv environment variables file
.env
